#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 5px;
    width: 100%;
    /*outline: 1px solid lime;*/
}

#canvas {
    touch-action: none;
}

#param-sliders {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    background-color: rgb(59, 59, 59);
    cursor: pointer;
    outline: none;
    opacity: 0.8;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    margin: 10px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: lightseagreen;
}

button {
    font-family: 'Consolas';
    cursor: pointer;
    color: black;
    background-color: rgb(225, 225, 225);
    border: none;
    height: 50%;
    width: 100%;
    opacity: 0.8;
    margin: 0.3rem;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

button:hover {
    opacity: 1;
}

#toggle-running {
    background-color: rgb(255, 87, 87);
}

p {
    color: white;
    font-family: 'Consolas';
}

#framerate {
    color: rgb(93, 93, 93);
}

/* Desktop and larger screens */
@media only screen and (min-width: 768px) and (orientation: landscape) {
    #main-container {
        flex-direction: row;
    }

    #options {
        height: 100%;
    }

    button {
        height: 7%;
    }
}